<%  provide(:title , 'About') %>
<% set_meta_tags :og => { :title => "About" } %>
<div class = "wrapper" >
 
 <h4 id="about-hey"> Hey! </h4>
 
 
 <p id="about-text"> My name is Hristo Georgiev and I like playing with the Ruby programming language and its development framework - Ruby on Rails. I am also into front-end web development and graphic design.
 	When the electricity goes out and my battery dies, I usually go the the gym, read science fiction and climb stairs until I barely walk.
 	
 	I am writing predominantly about Ruby, Rails and web development as well as...bodybuilding. Shortly said, I am trying to engage a wide audience of readers!
 	
 	I also like doing things by myself and, as you might've guessed, this is why my blog looks so miserable right now. It is still under development.
</p>
 	
</div>
