

<svg id="svgC"  viewBox="0 0 1280 720" preserveAspectRatio="xMinYMin meet" class="">

<text id="risto" transform="matrix(1 0 0 1 546.1738 325.207)" fill="#696969" font-family="'Titillium Web'" font-size="78.4136">RISTO </text>
<text id="eorgiev1" transform="matrix(1 0 0 1 544.999 400.8389)" fill="#696969" font-family="'Titillium Web'" font-size="78.4136">EORGIEV </text>
<text id="eorgiev2" transform="matrix(1 0 0 1 543.5898 472.7129)" fill="#696969" font-family="'Titillium Web'" font-size="78.4136">EORGIEV </text>

<g id="gr-left">
  <polygon id="lc1" fill="#00A99D" points="0,721.047 0.194,536.072 73.684,618.158 172.4,721.227   "/>
  <polygon id="lc2" class="left-bg" opacity="0.4" fill="#00A99D" points="0,722.139 0.244,489.613 92.625,592.801 216.718,722.366   "/>
  <polygon id="lc3" fill="#696969" points="0.006,718.863 0.141,590.781 51.027,647.62 119.381,718.988  "/>
  <polygon id="lc4" opacity="0.45" fill="#00A99D" points="0,721.411 0.285,449.197 108.435,569.998 253.708,721.677   "/>
  <polygon id="lc5"" opacity="0.5" fill="#00A99D" points="0,721.957 0.324,412.555 123.249,549.858 288.37,722.259  "/>
</g>
<g id="gr-right">
  <polygon fill="#00A99D" points="1280,5.875 1279.806,190.85 1206.316,108.764 1107.6,5.695  "/>
  <polygon opacity="0.4" fill="#00A99D" points="1280,4.783 1279.756,237.309 1187.375,134.121 1063.282,4.556   "/>
  <polygon fill="#696969" points="1279.994,8.059 1279.859,136.141 1228.973,79.302 1160.619,7.934  "/>
  <polygon opacity="0.45" fill="#00A99D" points="1280,5.511 1279.715,277.725 1171.565,156.924 1026.292,5.245  "/>
  <polygon opacity="0.5" fill="#00A99D" points="1280,4.965 1279.676,314.367 1156.751,177.063 991.631,4.663  "/>
</g>
</svg>

  <div class="large-12 columns bg-wrap">
  <div class="row extend" >
    <p class="text">My name is Hristo Georgiev Georgiev. I was born in Yambol, Bulgaria 21 years ago. </p>


  <p class="text">I am a late bloomer in software development and programming. I started when I was working as a restaurant server in the USA during the summer of 2013. 
  After spending countless hours running from table to table, I longed to engage in something creative and self-fulfilling. One day, I stumbled upon <a href="http://www.codecademy.com/Kaizeras" target="_blank"> codeacademy.com </a> and everything just went by itself. </p>

 <p class="text">Currently, I am in my junior year at <a href="http://www.aubg.edu" target="_blank" >American University in Bulgaria </a>, studying Information Systems and Business Administration. During the summer of 2014, I interned as a Ruby on Rails developer at a medium-sized software company named <a href="http://www.158ltd.com" target="blank"> 158ltd</a>. I have also done a few websites with WordPress as well as couple of quirky projects with HTML,CSS and JavaScript such as a HTML5 game and SVG animations. </p>

 <p class="text">I seem to be going through an identity crisis, because I like working both on the front-end and on the back-end. Working with Ruby on the back-end and Angular.js, HAML, CoffeeScript and SASS on the front-end is my favorite setup. Apart from web technologies, I am interested in mobile development and biotech. I hope one day I get the chance to develop software that works with subdermal implants. </p>



  <p class="text">I am founder of <a href="http://www.instructor.bg" target="_blank">Instructor.bg</a>, a web platform that helps connect fitness instructors with clients. I am also developing a content management system for organizing Model European Union events, you can see it in action <a href="http://www.meu-blagoevgrad.org" target="_blank"> here</a>. </p>

  <p class="text">Apart from working with technology, I like going to the gym and study biology. I consider strength training and proper nutrition as a great way to increase productivity and improve overall well-being.  I have earned a few medals from university-wide weightlifting and hand wrestling events. I have also spent some time helping other people achieve their fitness goals by training them. I also happen to write poetry from time to time, but my creations seldom reach the outside world.</p>


  <p class="text">My dream is to start my own tech business. I am looking for ways to combine my passion for programming with my interests in fitness education into something valuable. </p>

  <p class="text"> That is all I have got to say about myself. if you have any questions, or just want to talk, <a href="mailto:hgeorgievkzr@gmail.com">drop me an e-mail</a>. </p>
  

  </div>



</div>


  

