


<div id="post-title-contain"> <h1 id="post-title" ><%= p.title %></h1></div>

    <div class="info-panel">
    Created at: <%= l(p.created_at , :format => :long)%>
    </div>
   <div class = "text">
      <%=   (coderay(RedCloth.new(p.description).to_html)).html_safe %>
    </div>


<div class="post-tags">

 <%=raw tag_links(p.all_tags) %>

 </div>
