// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-menu ,  .title-header {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.35em;
}

#main-menu li {
  display: block;
  text-align: center;
}

#main-menu li a {
   color: #fff;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(105,105,105, 0.3);
    text-transform: uppercase;
}

#main-menu li a::before {
  margin-right: 10px;
  content: '<';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  color:  #00a99d;
  }

#main-menu li a:after {
  margin-left: 10px;
  content: '>';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
    color:  #00a99d;
}

#main-menu li a:after , #main-menu li a:before {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}


#main-menu li a:hover::before,
#main-menu li a:hover::after,
#main-menu li a:focus::before,
#main-menu li a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.author {
  text-align: center;
  padding: 0 0 10% 0;
  vertical-align: middle;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
  color: rgba( 0 , 169 , 157 , 1 );
  font-weight: bolder;
  font-size: 1.1em;
}
//nav menu
@media all and (min-width: 1000px) {

  #main-menu  { font-size: 1.20em;  }
#main-menu li a::before {
  margin-right: 10px;
  content: '<';
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  transform: translateX(10px);
  color:  #fff;
  }

#main-menu li a:after {
  margin-left: 10px;
  content: '>';
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  transform: translateX(-10px);
    color:  #fff;
}

 }
@media all and (min-width: 1400px) {  #main-menu  { font-size: 1.25em;  }  }
//about page


.circular-sm {
  background:  image-url("me.jpg");
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  text-align: center;
  margin: 37px;
  position: relative;
webkit-transition: background-color 1.2s ease-in-out;
-moz-transition: background-color 1.2s ease-in-out;
-o-transition: background-color 1.2s ease-in-out;
transition: background-color 1.2s ease-in-out;

}


.circular-sm:hover {

  background-color: rgba(0,169,157, 1);
}

.circular-sm:after{
  position: absolute;
  top: 300px; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
  background-color: inherit;
  background: image-url("overlaybg1.png") center no-repeat;
    webkit-transition: top 650ms ease-in;
-moz-transition: top 650ms ease-in;
-o-transition: top 650ms ease-in;
transition: top 650ms ease-in;
}

.circular-sm:hover::after {
 top: 0; right: 0; bottom: 0; left: 0;
}

.circular-sm:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
    -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.circular-sm > a {
   position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index:99;
}
#logo img {
  width: 50px;
  height: auto;
}

.title-header {
  text-align: left;

}
.tab-bar {
  border-bottom: 1px solid #00a99d;
  margin-bottom: 2rem;
}

.title-header > a {
    color: #696969;
    font-family: "Titillium Web";
      font-size: 1.35em;

}



.svg-content {
display: block;
position: absolute;
top: 0;
left: 0;
}





.short-bio {
  color: #fff;
  opacity: 0.8;
  margin: 25px;


}
.short-bio > a {
  color: inherit;

}


.short-bio > a:hover {
  text-decoration: underline;
}


.tab-bar {
 position: fixed;
 width: 100%;
 z-index:999;
}

.line-up {
  height: 3.75rem;
  line-height: 3.75rem;
}

#profiles {
  list-style-type: none;
  margin:  25px;
}





#profiles > a > i {
    display: inline-block;
  color: white;
    box-shadow: 0 0 0 2px rgba(255,255,255,1);
}

#profiles > a > i:before {
    line-height: 55px;
}


#profiles > a > i:after {
    top: -2px;
  left: -2px;
  padding: 0;
  z-index: 10;
  border: 2px dashed #fff;
}

#profiles > a > i:hover {
  box-shadow: 0 0 0 0 rgba(255,255,255,0);
  color: #fff;
}
.size-40 { font-size: 40px; }


#profiles > a  >i:hover:after {
  -webkit-animation: spinAround 9s linear infinite;
  -moz-animation: spinAround 9s linear infinite;
  animation: spinAround 9s linear infinite;
}


#profiles > a  > i:hover {
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}


.hi-icon:before {
  font-size: 40px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.hi-icon-header {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 8.5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hi-icon-header:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hi-icon-header:before {
  font-size: 30px;
  line-height: 55px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}


@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinAround {
  from {
    -moz-transform: rotate(0deg)
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

.top-border {
-webkit-transition: border-color 750ms ease;
         -moz-transition: border-color 750ms ease;
           -o-transition: border-color 750ms ease;
          -ms-transition: border-color 750ms ease;
              transition: border-color 750ms ease;
}

.no-top-border {

  border-bottom: 0;
}


.bg-wrap {
  background: image-url("about-bg-left.png") , image-url("about-bg-right.png") ;
  background-position: center left , center right;
  margin-top: -8px;
  margin-bottom: 8px;
  min-height: 1000px;
  background-repeat: no-repeat;

}

h1#about-header {
  color: #696969;
  text-align: center;
  line-height: 100px;
  font-weight: 600;
}




#svgC {
  width: 100%;

}


.archive span {
  color:#696969;
  font-weight: 700;

}

.archive span:hover {
  text-decoration:underline;
}

.right-small {
  width: 6rem;
}

.admin-panel a {
  color: white;
}

.about-img {
  height: 300px;
  width: auto;
  align: left;
  float: left;
}

@media screen and (max-width: 1150px) { /* Specific to this particular image */
  .bg-wrap {
    background: white;
  }
}


@media only screen and (max-width: 767px) {

   h1 {
      font-size: 1.5em;
   }

   h2 {
      font-size: 2em;
   }

   .circular-sm {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 37px;
    margin-right: 37px;
   }

   #main-menu{
    font-size: 1em;
    margin-bottom: 0;
   }

   .short-bio {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
   }

   #profiles {
    margin-top: 3px;
   }
   .hi-icon {
     margin-top: 0;
   }
   .bg-wrap {
  min-height: 3000px;
 }

 .title-header > a  {
		 font-size: 1em !important;
 }


 .social-share-buttons a {
		width: 32px !important;
		height: 32px !important;
		margin-right: 5px;

 }
.social-share-buttons a i {
	font-size: 32px;
}
.social-share-buttons a i:before {
	 line-height: 32px;
	 width: 25px;
}


.tab-bar-section.middle {
    left: 2rem !important;
    right: 3.75rem;
}

.right-small {
    width: 5rem !important;
}

}

@media only screen and (max-height: 450px) {
.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}

  .left-off-canvas-menu {
    height: 100%;
    overflow-y: auto;
}



}
